body{
   padding: 0px 0px;
    margin: 0px 0px;
    width: 100%;
}
* {
    background-color: #003566;
}
.topnav {
  background-color: #1d3557;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: white;
  background-color: #1d3557;
 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1d3557;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.image img{
    width: 200px;
    height: 200px;
    background-color: #003566;
}
h1 {
    text-align: center;
    border: 2px solid white;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
label {
    color: white;
}
span.psw {
    color: white;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (green) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #04AA6D;
}

.footer {
    padding: 0px;
    margin: 0px;
    border: 2px solid white;
}
 p {
    text-align:right;  
    font-family: 'Allura','sans-serif';
    font-style: italic;
    font-size: 30px;
    margin-top: 0px;
    font-weight: bold;
    color: white;

}
/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
.container h3 {
    text-align: center;
    color: white;
}
.container input {
    color: white;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}